@page "/exercise06-01"
@using Exercises.Classes.Chapter06

<h3>TO-DO</h3>
<input @bind="@description" placeholder="Enter a value" />
<button class="btn-sm btn-light" @onclick="AddToDo">+</button>

<ul class="no-list-style">
    @foreach (var todo in todos.Get())
    {
        <li>
            <input class="vertically-align" type="checkbox" @onchange="@(e => CheckboxChanged(todo))" @attributes="todo.GetCheckboxAttributes()" />
            <span @attributes="todo.GetDescriptionAttributes()">@todo.GetDescription()</span>
            <input type="button" value="Delete" class="btn btn-link vertically-align" @onclick="@(e => Delete(todo))" />
        </li>
    }
</ul>

@code {
    Todos todos = new Todos();
    string description;

    void AddToDo()
    {
        todos.Add(description);
        description = string.Empty;
    }

    void CheckboxChanged(ToDo todo)
    {
        todo.CheckAttributes();
    }

    void Delete(ToDo todo)
    {
        todos.Remove(todo);
    }
 }
