@page "/exercise03-03"
@using Exercises.Classes.Chapter03

<h3>Enter Student Data</h3>

<input @bind="@firstName" placeholder="First Name" />
<input @bind="@lastName" placeholder="Last Name" />
<input @bind="@age" placeholder="Age" />

<button class="btn-sm btn-success" @onclick="CreateStudent">Create</button>
<button class="btn-sm btn-danger" @onclick="Clear">Clear</button>

<h4>@output</h4>

@code {
    string firstName, lastName, output;
    int age;

    void CreateStudent()
    {
        var student = new Student(firstName, lastName, age);
        output = $"{student.FullName} {student.age}";
    }

    void Clear()
    {
        lastName = string.Empty;
        firstName = string.Empty;
        output = string.Empty;
        age = default;
    }
}
